In [5]:
import pandas as pd

In [6]:
corridas = {

    "tenis":["Fila Racer Carbon 2", "Adidas Duramo Speed", "Olympikus Corre Grafeno"],
    "marca": ["Fila", "Adidas","Olimpikus"],
    "corrida_realizada": ["Maratona Rio de Janeiro", "Meia Maratona Aniversário de Brasília","Circuito de Corridas Banco do Brasil"],
    "distancia": ["42.195km", "21km", "10km"],
    "valor": [800, 400, 600]
}

corridas = pd.DataFrame(corridas)
corridas

,tenis,marca,corrida_realizada,distancia,valor
0,Fila Racer Carbon 2,Fila,Maratona Rio de Janeiro,42.195km,800
1,Adidas Duramo Speed,Adidas,Meia Maratona Aniversário de Brasília,21km,400
2,Olympikus Corre Grafeno,Olimpikus,Circuito de Corridas Banco do Brasil,10km,600

In [7]:
# acessando linha específica;
corridas.loc[0]

tenis                    Fila Racer Carbon 2
marca                                   Fila
corrida_realizada    Maratona Rio de Janeiro
distancia                           42.195km
valor                                    800
Name: 0, dtype: object

In [8]:

# adicionando nova coluna ao dataframe;
corridas['valor_inscricao'] = [470, 70, 80]
corridas

,tenis,marca,corrida_realizada,distancia,valor,valor_inscricao
0,Fila Racer Carbon 2,Fila,Maratona Rio de Janeiro,42.195km,800,470
1,Adidas Duramo Speed,Adidas,Meia Maratona Aniversário de Brasília,21km,400,70
2,Olympikus Corre Grafeno,Olimpikus,Circuito de Corridas Banco do Brasil,10km,600,80

In [11]:
# renomeando coluna
corridas.rename(columns={'distancia': 'distancia_km'})
corridas

,tenis,marca,corrida_realizada,distancia_km,valor,valor_inscricao
0,Fila Racer Carbon 2,Fila,Maratona Rio de Janeiro,42.195km,800,470
1,Adidas Duramo Speed,Adidas,Meia Maratona Aniversário de Brasília,21km,400,70
2,Olympikus Corre Grafeno,Olimpikus,Circuito de Corridas Banco do Brasil,10km,600,80