In [16]:

import pandas as pd
from pathlib import Path

In [28]:
# lendo arquivo csv
caminho = Path(r'C:\Users\Pc\Documents\curso-python-faculdade\introducao_pandas\br_inep_formacao_docente_brasil.csv')


# Lendo o CSV;
df = pd.read_csv(caminho)

# ler as 5 primeiras linha do data frame;
print(df.head())

    ano tipo_localizacao       rede        modalidade  grupo  \
0  2016            total      total  educacaoinfantil      1
1  2016            rural  municipal  educacaoinfantil      4
2  2016           urbana  municipal  educacaoinfantil      4
3  2016            total  municipal  educacaoinfantil      4
4  2016            rural   estadual  educacaoinfantil      4

           percentual
0                46.6
1                 2.2
2  3.8000000000000003
3                 3.6
4                 3.2

In [29]:
# lendo as 5 últimas linhas do data frame;
print(df.tail())

       ano tipo_localizacao      rede        modalidade  grupo percentual
5035  2018           urbana  estadual  ensinomediototal      2        2.1
5036  2018            total  estadual  ensinomediototal      2        2.1
5037  2018            rural   federal  ensinomediototal      2        8.5
5038  2018           urbana  estadual  ensinomediototal      3       25.7
5039  2018            rural   pública  ensinomediototal      5       11.1

In [30]:
# analisando tamanho e tipos das colunas do data frame;
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5040 entries, 0 to 5039
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ano               5040 non-null   int64
 1   tipo_localizacao  5040 non-null   object
 2   rede              5040 non-null   object
 3   modalidade        5040 non-null   object
 4   grupo             5040 non-null   int64
 5   percentual        5040 non-null   object
dtypes: int64(2), object(4)
memory usage: 236.4+ KB
None

In [31]:
# informações gerenciais de todas as colunas numéricas;
print(df.describe())

               ano        grupo
count  5040.000000  5040.000000
mean   2016.500000     3.000000
std       2.291515     1.414354
min    2013.000000     1.000000
25%    2014.750000     2.000000
50%    2016.500000     3.000000
75%    2018.250000     4.000000
max    2020.000000     5.000000

In [36]:
# ordenar data frame por uma coluna
df_ordenado = df.sort_values('percentual', ascending=False)
df_ordenado

,ano,tipo_localizacao,rede,modalidade,grupo,percentual
3923,2020,rural,municipal,ejaensinofundamental,1,9.9
2264,2015,urbana,privada,ensinofundamentalanosiniciais,3,9.9
4446,2018,urbana,federal,educacaoinfantil,5,9.9
4860,2018,urbana,pública,ensinofundamentaltotal,5,9.9
1692,2013,rural,total,ensinofundamentalanosiniciais,3,9.9
...,...,...,...,...,...,...
804,2014,rural,federal,ejaensinofundamental,2,--
132,2016,rural,federal,ejaensinofundamental,5,--
674,2014,rural,federal,educacaoinfantil,3,--
1374,2013,rural,federal,ejaensinofundamental,5,--
633,2014,rural,federal,educacaoinfantil,4,--